.wrapper {
  display: flex;
  justify-content: center;
  width: 1200px;
  flex-wrap: wrap;
}
.wrapper div {
  width: 350px;
  height: 400px;
  background-color: rgb(230, 222, 86);
  border: 3px solid black;
  margin: 10px;
}

.nav {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.title {
  width: 250px;
}
.id {
  width: 50px;
  border: 1px solid black;
}
.img {
  display: flex;
  width: 250px;
  margin-top: 20px;
  margin-left: 50px;
}

.wrapimg {
  display: flex;
}
